<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/sm_nileshkr121" target="_blank" title="Connect on Instagram">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://twitter.com/nilesh0198" target="_blank" title="Connect on Twitter">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="https://github.com/in/nilesh0198/" target="_blank" title="Connect on GitHub">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/nilesh0198/" target="_blank" title="Connect on LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand"> &copy; Wanderlust Private Limited | Created by Nilesh
        </div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>


</footer>